/* FONT FAMILY */
$fonte: "Inter", sans-serif;

/* CORES */
$branco: #ffffff;
$cinza-escuro: #3a404e;
$bordo: #8e2424;
$cinza-50: #f9fafb;
$cinza-200: #eaecf0;
$cinza-400: #98a2b3;
$cinza-500: #667085;
$cinza-900: #101828;
$titulo: #3a404e;

/* BACKGROUNDS COM TRANSPARÊNCIA */
$bege-5: rgba($bordo, 0.05);
$bege-3: rgba($bordo, 0.03);
