@import "../abstract/variaveis";
@import "../abstract/funcoes";

.btn {
  @include btn;
}

.btn-colorido {
  @include btn-colorido;
}

.cabecalho {
  @include displayFlex(center, space-between, "", "");
  @include centerSection(85%);
  padding: 18px 0;
  height: 80px;

  .cabecalho__logo {
    @include displayFlex(center, "", 8px, "");

    .logo__img {
      height: 27px;
      width: 27px;
    }

    .nome-da-empresa {
      color: $titulo;
      @include fonte18px;
    }
  }

  .cabecalho__nav {
    margin-right: 10%;
    @include displayFlex(center, "", "", "");

    .fa-bars {
      display: none;

      &::before {
        display: inline-block;
        text-align: right;
        color: $cinza-900;
      }
    }

    .nav__lista {
      @include displayFlex(center, "", 32px, "");
      height: 100%;

      .nav__item {
        @include displayFlex(center, "", "", "");

        .nav__link {
          color: $cinza-500;
        }
      }

      .cabecalho__botoes--menu {
        display: none;
      }
    }
  }

  .cabecalho__botoes {
    @include displayFlex(center, "", 12px, "");
  }
}
