@import "../abstract/variaveis";
@import "../abstract/funcoes";

.corpo__titulo {
  letter-spacing: -0.02rem;
  line-height: 125%;
  font-weight: 600;
  font-size: 36px;
}

.corpo__texto-suporte {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: $cinza-500;
  @include centerSection(65%);
  text-align: center;
}

.corpo {
  @include centerSection(85%);
  @include displayFlex("", "", 96px, column);

  .corpo__sobre-nos {
    @include displayFlex(center, center, 24px, column);
    padding-bottom: 11px;

    .corpo__mini-texto {
      font-weight: 600;
      color: $bordo;
    }

    .corpo__sobre-nos--titulo {
      font-size: 48px;
    }
  }
}
