@import "./variaveis";
@import "./funcoes";

body {
  font-family: $fonte;
  color: $cinza-900;
  font-weight: 500;
  @include fonte16px;
  @include displayFlex("", "", 96px, column);
}

* {
  box-sizing: border-box;
}
