@charset "UTF-8";
/* FONT FAMILY */
/* CORES */
/* BACKGROUNDS COM TRANSPARÊNCIA */
body {
  font-family: "Inter", sans-serif;
  color: #101828;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: "";
  justify-content: "";
  gap: 96px;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

/* FONT FAMILY */
/* CORES */
/* BACKGROUNDS COM TRANSPARÊNCIA */
.btn {
  color: #667085;
  padding: 10px 18px;
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.051);
}

.btn-colorido {
  background-color: #8e2424;
  color: #ffffff;
}

.cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: "";
  flex-direction: "";
  width: 85%;
  margin: 0 auto;
  padding: 18px 0;
  height: 80px;
}
.cabecalho .cabecalho__logo {
  display: flex;
  align-items: center;
  justify-content: "";
  gap: 8px;
  flex-direction: "";
}
.cabecalho .cabecalho__logo .logo__img {
  height: 27px;
  width: 27px;
}
.cabecalho .cabecalho__logo .nome-da-empresa {
  color: #3a404e;
  font-size: 18px;
  line-height: 28px;
}
.cabecalho .cabecalho__nav {
  margin-right: 10%;
  display: flex;
  align-items: center;
  justify-content: "";
  gap: "";
  flex-direction: "";
}
.cabecalho .cabecalho__nav .fa-bars {
  display: none;
}
.cabecalho .cabecalho__nav .fa-bars::before {
  display: inline-block;
  text-align: right;
  color: #101828;
}
.cabecalho .cabecalho__nav .nav__lista {
  display: flex;
  align-items: center;
  justify-content: "";
  gap: 32px;
  flex-direction: "";
  height: 100%;
}
.cabecalho .cabecalho__nav .nav__lista .nav__item {
  display: flex;
  align-items: center;
  justify-content: "";
  gap: "";
  flex-direction: "";
}
.cabecalho .cabecalho__nav .nav__lista .nav__item .nav__link {
  color: #667085;
}
.cabecalho .cabecalho__nav .nav__lista .cabecalho__botoes--menu {
  display: none;
}
.cabecalho .cabecalho__botoes {
  display: flex;
  align-items: center;
  justify-content: "";
  gap: 12px;
  flex-direction: "";
}

/* FONT FAMILY */
/* CORES */
/* BACKGROUNDS COM TRANSPARÊNCIA */
.corpo__titulo {
  letter-spacing: -0.02rem;
  line-height: 125%;
  font-weight: 600;
  font-size: 36px;
}

.corpo__texto-suporte {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #667085;
  width: 65%;
  margin: 0 auto;
  text-align: center;
}

.corpo {
  width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: "";
  justify-content: "";
  gap: 96px;
  flex-direction: column;
}
.corpo .corpo__sobre-nos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  flex-direction: column;
  padding-bottom: 11px;
}
.corpo .corpo__sobre-nos .corpo__mini-texto {
  font-weight: 600;
  color: #8e2424;
}
.corpo .corpo__sobre-nos .corpo__sobre-nos--titulo {
  font-size: 48px;
}

/* FONT FAMILY */
/* CORES */
/* BACKGROUNDS COM TRANSPARÊNCIA */
.corpo__diferenciais {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  padding-bottom: 96px;
}
.corpo__diferenciais .card__titulo {
  color: #8e2424;
  font-size: 60px;
}
.corpo__diferenciais .card__diferencial {
  font-size: 18px;
  line-height: 28px;
  margin: 12px 0 8px;
}
.corpo__diferenciais .card__descricao {
  font-weight: 400;
  color: #667085;
}

/* FONT FAMILY */
/* CORES */
/* BACKGROUNDS COM TRANSPARÊNCIA */
.vagas {
  display: flex;
  align-items: "";
  justify-content: "";
  gap: 64px;
  flex-direction: column;
}
.vagas .vagas__cabecalho {
  display: flex;
  align-items: center;
  justify-content: "";
  gap: "";
  flex-direction: column;
}
.vagas .vagas__cabecalho .vagas__minitexto {
  padding: 4px 12px;
  border-radius: 16px;
  background-color: rgba(142, 36, 36, 0.05);
  color: #8e2424;
  font-size: 14px;
  line-height: 20px;
}
.vagas .vagas__cabecalho .vagas__titulo {
  margin: 16px 0 20px;
}
.vagas .vagas__cabecalho .vagas__img {
  width: 100%;
  margin-top: 64px;
}
.vagas .vagas__container {
  width: 65%;
  margin: 0 auto;
  display: flex;
  align-items: "";
  justify-content: "";
  gap: 64px;
  flex-direction: column;
}
.vagas .vagas__container .vagas__cards {
  display: flex;
  align-items: "";
  justify-content: "";
  gap: 24px;
  flex-direction: column;
}
.vagas .vagas__container .vagas__cards .cards__titulo {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 8px;
}
.vagas .vagas__container .vagas__cards .vaga__card {
  border: 1px solid #eaecf0;
  border-radius: 16px;
  padding: 24px;
}
.vagas .vagas__container .vagas__cards .vaga__card .card__vaga {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 32px;
}
.vagas .vagas__container .vagas__cards .vaga__card span {
  color: #667085;
  margin-right: 24px;
}

/* FONT FAMILY */
/* CORES */
/* BACKGROUNDS COM TRANSPARÊNCIA */
.avaliacoes {
  padding: 64px;
  border-radius: 16px;
  text-align: center;
  background-color: rgba(142, 36, 36, 0.03);
  display: flex;
  align-items: center;
  justify-content: "";
  gap: "";
  flex-direction: column;
}
.avaliacoes .avaliacoes__minitexto {
  color: #8e2424;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}
.avaliacoes .avaliacoes__titulo {
  margin: 16px 0 32px;
}
.avaliacoes .perfil__nome {
  margin: 16px 0 4px;
}
.avaliacoes .perfil__funcao {
  color: #667085;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

/* FONT FAMILY */
/* CORES */
/* BACKGROUNDS COM TRANSPARÊNCIA */
.rodape {
  background-color: #f9fafb;
  padding: 96px 0;
}
.rodape .rodape__box {
  width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}
.rodape .rodape__box .rodape__form {
  margin: 20px 0 12px;
  display: flex;
  align-items: center;
  justify-content: "";
  gap: 16px;
  flex-direction: "";
}
.rodape .rodape__box .rodape__form .form__email {
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.051);
  width: 360px;
}
.rodape .rodape__box .rodape__form .form__email::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #667085;
}
.rodape .rodape__box .rodape__form .form__email:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #667085;
}
.rodape .rodape__box .rodape__form .form__email::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #667085;
}
.rodape .rodape__box .rodape__copyright {
  font-weight: 400;
  color: #98a2b3;
}

/* FONT FAMILY */
/* CORES */
/* BACKGROUNDS COM TRANSPARÊNCIA */
@media (max-width: 1439px) {
  body {
    gap: 48px;
  }
  .cabecalho .cabecalho__nav {
    height: 100%;
    margin: 0;
    position: relative;
  }
  .cabecalho .cabecalho__nav .fa-bars {
    display: inline-block;
  }
  .cabecalho .cabecalho__nav .nav__lista {
    display: none;
  }
  .cabecalho .cabecalho__nav .menu--ativo {
    display: flex;
    position: absolute;
    top: 100%;
    right: -65px;
    height: auto;
    width: 150px;
    border-radius: 16px;
    padding: 8px 0;
    flex-direction: column;
    gap: 8px;
    background-color: #eaecf0;
  }
  .corpo__texto-suporte {
    font-size: 18px;
    line-height: 28px;
  }
  .corpo {
    gap: 48px;
    width: 95%;
  }
  .corpo .corpo__sobre-nos {
    gap: 16px;
    padding: 0;
  }
  .corpo .corpo__sobre-nos .corpo__mini-texto {
    font-size: 14px;
    line-height: 20px;
  }
  .corpo .corpo__sobre-nos .corpo__sobre-nos--titulo {
    font-size: 36px;
  }
  .corpo .corpo__diferenciais {
    padding: 0;
  }
  .corpo .corpo__diferenciais .card__titulo {
    font-size: 48px;
  }
  .corpo .corpo__diferenciais .card__diferencial {
    font-size: 16px;
    line-height: 24px;
  }
  .corpo .corpo__diferenciais .card__descricao {
    font-size: 14px;
    line-height: 20px;
  }
  .corpo .vagas {
    gap: 48px;
  }
  .corpo .vagas .vagas__titulo {
    margin: 16px 0;
  }
  .corpo .vagas .vagas__container {
    gap: 32px;
  }
  .corpo .vagas .vagas__container .vagas__cards {
    gap: 16px;
  }
  .corpo .vagas .vagas__container .vagas__cards .cards__titulo {
    margin: 0;
    font-size: 18px;
    line-height: 28px;
  }
  .corpo .vagas .vagas__container .vagas__cards .vaga__card {
    padding: 16px;
  }
  .corpo .vagas .vagas__container .vagas__cards .vaga__card .card__vaga {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
  }
  .corpo .avaliacoes {
    padding: 32px;
  }
  .corpo .avaliacoes .avaliacoes__titulo {
    margin-bottom: 16px;
  }
  .rodape {
    padding: 48px 0;
  }
  .rodape .rodape__box {
    width: 95%;
  }
  .rodape .rodape__box .rodape__form {
    margin-top: 12px;
  }
  .rodape .rodape__box .rodape__copyright {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (max-width: 767px) {
  body {
    gap: 24px;
  }
  body .corpo__titulo {
    font-size: 24px;
    text-align: center;
  }
  body .corpo__texto-suporte {
    font-size: 14px;
    line-height: 20px;
  }
  body .cabecalho {
    width: 100%;
    padding: 18px;
  }
  body .cabecalho .cabecalho__nav .nav__lista {
    right: 0;
  }
  body .cabecalho .cabecalho__nav .nav__lista .cabecalho__botoes--menu {
    display: flex;
    align-items: "";
    justify-content: "";
    gap: 0;
    flex-direction: column;
  }
  body .cabecalho .cabecalho__botoes {
    display: none;
  }
  body .corpo {
    width: 100%;
    padding: 0 16px;
    gap: 30px;
  }
  body .corpo .corpo__diferenciais {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  body .corpo .corpo__diferenciais .card__titulo {
    text-align: left;
    font-size: 36px;
  }
  body .corpo .vagas {
    gap: 30px;
  }
  body .corpo .vagas .vagas__img {
    margin-top: 24px;
  }
  body .corpo .vagas .vagas__container .vagas__cards .cards__titulo {
    font-size: 16px;
    line-height: 24px;
  }
  body .corpo .vagas .vagas__container .vagas__cards .vaga__card {
    display: flex;
    align-items: "";
    justify-content: "";
    gap: "";
    flex-direction: column;
  }
  body .corpo .vagas .vagas__container .vagas__cards .vaga__card .card__periodo,
body .corpo .vagas .vagas__container .vagas__cards .vaga__card .card__salario {
    font-size: 14px;
    line-height: 20px;
  }
  body .rodape .rodape__box .rodape__form {
    flex-direction: column;
  }
  body .rodape .rodape__box .rodape__form .form__email {
    width: 250px;
  }
}/*# sourceMappingURL=style.css.map */